// Text/title row layout

.title-with-text {
  padding-top: 2rem;
}

.title-with-text:before {
  content: "";
  display: block;
  background: $ui-04;
  height: 1px;
  width: calc(100% - 2rem);
  margin: -$spacing-07 0 0 $spacing-05;
}

.title-with-text:first-child:before {
  display: none;
}

.title-with-text h2 {
  margin-top: 0;
  width: 100%;
}

// IBM Cookies link
.truste_cookie_prefs a {
  font-family: "IBM Plex Sans VF", "Helvetica Neue", Arial, sans-serif !important;
  color: $text-01 !important;
}

.truste_cookie_prefs {
  margin-right: $spacing-05 !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2) !important;
}
