@import "../../components/HomepageTile/homepage-tile";
@import "homepage-quote";

.section-header-h2 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 129%;
  letter-spacing: 0;
  font-size: calc(1.75rem + 0 * ((100vw - 20rem) / 62));
}
@media (min-width: 82rem) {
  .h2 {
    font-size: 1.75rem;
    line-height: 125%;
    font-size: calc(1.75rem + 0.25 * ((100vw - 82rem) / 17));
  }
}
@media (min-width: 99rem) {
  .h2 {
    font-size: 2rem;
    font-size: 2rem;
  }
}

.banner-header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include carbon--breakpoint("md") {
    width: 57%;
  }
}

.banner-subheader {
  @include carbon--type-style("productive-heading-03");
  width: 50%;
  padding-bottom: 1rem;
  @include carbon--breakpoint("md") {
    width: 35%;
  }
}

.homepage-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
}
